{% extends 'base.html'%}

{% block title %} About {% endblock title %}

{% block aboutactive%} active {% endblock aboutactive %}

{% block body %}
  
  <div class="row featurette">
    <div class="col-my-2">
      <h2 class="featurette-heading fw-normal lh-1">Sumer. <span class="text-body-secondary"></span></h2>
      <p class="lead">Established in 1953, the Business Services arm of Writer Corporation is a key partner to India's banking and corporate sectors, offering an array of services in Global Relocations, Information Management, and Cash Management.</p>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
    </div>
  </div>

  <div class="row featurette">
    <div class="col-my-2">
      <h2 class="featurette-heading fw-normal lh-1">Sumer. <span class="text-body-secondary"></span></h2>
      <p class="lead">Established in 1953, the Business Services arm of Writer Corporation is a key partner to India's banking and corporate sectors, offering an array of services in Global Relocations, Information Management, and Cash Management.</p>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
    </div>
  </div>
{% endblock body %}