{% extends 'base.html' %} {% block title %} Blog Post {% endblock title %} 
{% block blogactive %} active {% endblock blogactive %} {% block body %}
{% load humanize %}
{% load extras %}

<div class="col-md-8">
  <h3 class="pb-4 mb-4 fst-italic border-bottom"></h3>
  <div class="container my-3">
    <h2 class="display-5 link-body-emphasis mb-1">{{ post.title }}</h2>
    <p class="blog-post-meta">
      {{ post.timeStamp }} by <a href="/about">{{ post.author }}</a> 
    </p>
    <p>{{ post.content }}</p>
    <hr />
  </div>



<div class="container">
  {% if user.is_authenticated %}
  <form action="{% url 'like_post' post.pk %}" method="post">
      {% csrf_token %}
      <button type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
          <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a10 10 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733q.086.18.138.363c.077.27.113.567.113.856s-.036.586-.113.856c-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.2 3.2 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.8 4.8 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
        </svg>
          {% if user in post.likes.all %}
              Unlike
          {% else %}
              Like({{user.count}})
          {% endif %}
      </button>
  </form>
{% endif %}
</div>







  <div class="container">
    <h2>Comments ({{comments.count}})</h2>
    <div class="my-2">
     {% if user.is_authenticated %}
     <form action="{% url 'postComment' %}" method="post">
      {% csrf_token %} 
       <input type="hidden" name="postSno" value="{{ post.sno }}">
       <input type="hidden" name="parentsno" value="">
                 
       <div class="mb-3">
       <label for="exampleInputEmail1" class="form-label">Post Comment</label>
       <input type="text" class="form-control" name="comment" placeholder="enter comment here">
      
       
      </div>
     
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
     {% else %}
     <p> Please log in to post a comment</p>
     {% endif %}
     
  </div>

    
    <div class="comments-section mt-4">
      {% for comment in comments %}
      <div class="row my-3">
        <div class="col-md-1">
          <img class="rounded mx-auto d-block w-100 p-2 border border-dark" src="/static/img/user.png" alt="user">
        </div>
        <div class="col-md-11"> 
          <b> {{ comment.user.username }} </b> <span class="badge text-bg-secondary">{{comment.timestamp | naturaltime}}</span>
        <div>{{ comment.comment }}</div>


        <div class="reply max-0">
          {% if user.is_authenticated %} 
          <div class="collapse" id="replyBox{{comment.sno}}">
            <div class="card card-body my-2">
              <form action="{% url 'postComment' %}" method="post">
                {% csrf_token %} 
                 <input type="hidden" name="postSno" value="{{ post.sno }}" />
                 <div class="mb-3">
                 <label for="comment" class="form-label">Post reply</label>
                 <input type="text" class="form-control" name="comment" placeholder="enter comment here">
                <input type="hidden" name="parentsno" value="{{comment.sno}}">
                 
                </div>  
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
             Login to Reply 
            </div>
          </div>
        </div>
          {% else %}
          <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#replyBox{{comment.sno}}" aria-expanded="false" aria-controls="replyBox{{comment.sno}}" disabled>
            Reply
          </button>
        {% endif %}
        <div class="replies bg-danger my-2">
          {% for reply in replyDict|get_val:comment.sno %}
             <div class="row my-2">
               <div class="col-md-1">
               <img class="rounded mx-auto d-block w-100 p-2 border border-dark" src="/static/img/user.png" alt="user">
             </div>
          </div>
            <div class="col-md-11">
                {{reply.comment}}
                  <b> {{reply.user.username}} </b> <span class="badge text-bg-secondary">{{reply.timestamp | naturaltime}}</span>
                <div>{{reply.comment}}</div>
        
            </div>
          {% endfor %} 
        
        </div>


      </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock body %}
